# Environment
.env
.env.*
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Data & reports
data/raw/
reports/
*.log

# IDE
.idea/
.vscode/
*.swp

# Docker
docker-compose.override.yml

# Airflow
airflow/logs/
airflow/airflow.db

# OS
.DS_Store
Thumbs.db
